<form method="post" action="/jobs/new">
  <input type="text" name="company" value="company name">
  <input type="text" name="position" value="job title">

  <label for="job_offer">df?</label>
  <select class="" name="application_sent">
    <option value="true">Yes</option>
    <option value="false">No</option>

  </select>
  <input type="text" name="stage_of_process" value="where are you in the application process?">
  <label for="job_offer">did you get the job?</label>
  <select class="" name="job_offer">
    <option value="true">Yes</option>
    <option value="false">No</option>



  </select>

  <input type="submit" value="add job">
</form>
