<form method="post" action="/jobs">
  <input type="text" name="company" value="company name">
  <br>
  <input type="text" name="position" value="job title">
  <br>

  <label for="job_offer">have u been offered job?</label>
  <select class="" name="application_sent">
    <option value="true">Yes</option>
    <option value="false">No</option>

  </select>
  <br>
  <input type="text" name="stage_of_process" value="where are you in the application process?">
<br>
  <label for="job_offer">did you get the job?</label>
  <select class="" name="job_offer">
    <option value="true">Yes</option>
    <option value="false">No</option>


  </select>
<br>
  <input type="submit" value="add job">
</form>
